.login {
    height: 820px;
    width: 400px;
    background-color: rgb(241, 221, 163);
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 50px;
    border: 5px solid rgb(189, 182, 118);
    box-shadow: 10px 10px 5px  rgb(235, 216, 135);
}

.lo {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    top: 30px;
    
}


.name {
    display: flex;
    justify-content: center;

}

.th {
    background-color: rgb(155, 134, 245);
    border: none;
    position: relative;
    top: 90px;
    right: 85px;
    font-size: 1rem;
    height:70px;
    width:150px;
    border:2px solid rgb(207, 145, 94);
}

.tar {
    display: flex;
    justify-content: center;
    

}

.sign {
    display: flex;
    justify-content: center;
}

.in {
    height: 50px;
    width: 120px;
    background-color: rgb(155, 134, 245);
    border-radius: 50px;
    position: relative;
    top: 200px;
}

.line {
    height: 820px;
    width: 1200px;
    background-color: rgb(245, 215, 179);
    position: relative;
    left: 450px;
    border-radius: 50px;
    top: 25px;
    border: 5px solid rgb(207, 182, 136);
    box-shadow: 10px 10px 5px  rgb(235, 216, 135);
}

.namey {
    height: 70px;
    width: 320px;
    border-radius: 50px;
    border: none;
    position: relative;
    top: 150px;
    font-size: 1.1rem;
    position: relative;
    padding-left:20px ;
    border:3px solid rgb(201, 178, 114);
}


.you {
    height: 70px;
    width: 320px;
    border-radius: 50px;
    border: none;
    position: relative;
    top: 100px;
    font-size: 1.1rem;
    padding-left:20px ;
    border:3px solid rgb(201, 178, 114);
    
}

.section {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 35px;
    
}





.input {
    height: 100px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 80px;
    width: 90px;
    background-color: rgb(102, 239, 102);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid rgb(155, 94, 54);
}


input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b9";
    font-size: 50px;
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #a5a5a5;

}

input[type="checkbox"]:checked {
    background-color: red;

}

input[type="checkbox"]:checked:after {
    display: block;
}

label {
    color:rgb(136, 79, 46);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    cursor: pointer;
    position: relative;
    left: 35px;
}





.input {
    height: 100px;
}

#bike input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 80px;
    width: 90px;
    background-color: rgb(102, 239, 102);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid rgb(155, 94, 54);
}



#bike input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f21c";
    font-size: 50px;
    color: white;
    display: none;
}

#bike input[type="checkbox"]:hover {
    background-color: #a5a5a5;

}

#bike input[type="checkbox"]:checked {
    background-color: red;

}

#bike input[type="checkbox"]:checked:after {
    display: block;
}

#bike label {
    
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    cursor: pointer;
    position: relative;
    left: 35px;
    
}

button {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 120px;
    border: 2px;
    border:2px solid rgb(207, 145, 94);
}

.ch {
    background-color:  rgb(155, 134, 245);
    position: relative;
    bottom: 60px;
    right: 80px;
    height:70px;
    width:150px;

}

.mh {
    background-color:  rgb(155, 134, 245);
    position: relative;
    bottom: 450px;
    left: 120px;
    height:70px;
    width:150px;


}

.ph {
    background-color:  rgb(155, 134, 245);
    position: relative;
    bottom: 600px;
    left: 120px;
    height:70px;
    width:150px;
}

.ji{
    background-color:  rgb(155, 134, 245);
    position: relative;
    bottom: 1100px;
    left: 30px;
    height:70px;
    width:150px;
    font-size: 1.2rem;
    
}

/* Initial state: Buttons disabled with a gray background */
button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

/* When enabled, the buttons will have a green background */
button:not(:disabled) {
    background-color: green;
    color: white;
    cursor: pointer;
}


